.img1c{
    height:50px;
}
.cdiv{
    padding-top: 250px;
    text-align: center;
    margin-right: 570px;
    float: right;
}
.img2c{
    float: left;
    margin-right: 570px;
    height: 300px;
    width: 300px;
    padding-top: 200px;
}
/* 8590 */